
:root {
    --tabs-bg-color: #FFF9F1; 
    --tab-text-color: #73552F; 
    --tab-hover-color: #D6C1AD; 
    --tab-active-color: #D6C1AD; 
}


.dark {
    --tabs-bg-color: #4B3F31; 
    --tab-text-color: #B9AA89; 
    --tab-hover-color: #5A4E3F; 
    --tab-active-color: #5A4E3F;
}

.tabs {
    display: flex;
    gap: 20px;
    background-color: var(--tabs-bg-color); 
    transition: background-color 0.3s ease; 
}

.tab {
    font-size: 30px;
    font-weight: 400;
    color: var(--tab-text-color); 
    text-decoration: none;
    padding: 20px 20px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.tab:hover {
    background-color: var(--tab-hover-color); 
}

.active {
    background-color: var(--tab-active-color); 
}