.profile_info {
    padding: 20px; 
    background-color: #FFF9F1;
}

.section {
    margin-bottom: 60px; 
}
.section h3 {
    font-size: 30px;
    font-weight: 600;
    color: #3F2B12; 
    margin: 0; 
}

.section p {
    font-size: 23px;
    color:#73552F; 
    margin-top: 11px; 
}

.author_info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 25px;
    margin-bottom: 20px;

}


.author_details {
    display: flex; 
    flex-direction: column; 
    gap: 20px;
}
