.move_list {
    width: 200px;
    flex-direction: column;
}

.chessboard_container {
    display: flex;
    gap: 30px;
}

.moves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1 1 auto;
}

.moves_navigation {
    display: flex;
    gap: 100px;
}