body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6c1ad;
}

.div {
  max-width: 550px;
  flex: 1 1 auto;
}

.editor_container {
    background: #fff9f1;
    max-width: 1500px;
    margin: 20px auto;
}

.editor_title {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.board_container {
  display: flex;
  gap: 30px;
}

.move_list {
  width: 200px;
}

.main {
  gap: 20px;
  padding: 40px;
  margin: auto;
  max-width: 1500px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
  height: 500px;
}

.ce-block__content, .ce-toolbar__content {
  max-width: 800px;
}