:root {
    --header-bg-color: #3f2b12;
    --header-text-color: #fff9f1;
    --nav-bg-color: #fff9f1;
    --nav-link-color: #3f2b12;
    --icon-filter: none; 

}


.dark {
    --header-bg-color: #090806;
    --header-text-color: #ffffff;
    --nav-bg-color: #2a231c;
    --nav-link-color: #ffffff;
    --icon-filter: none;  
    

  
}



.header {

    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    margin: 41px auto;
    margin-bottom: 0px;
    width: 1500px;
    height: 206px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header_top {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 15px 20px;
}

.header__title {

    font-size: 36px;
    margin: 15px 81px;
    font-weight: 700;
    color: var(--header-text-color);
}

.header__profile_logo {

    width: 75px;
    height: 75px;
    margin: 10px 85px;
    filter: var(--icon-filter); 
}

.header_nav {

    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: var(--nav-bg-color);
    transition: background-color 0.3s ease;
}

.header_nav__items {
    list-style-type: none;
    display: flex;
    gap: 93px;
    margin-left: 67px;
    margin-top: 20px;
}

.header_nav__link {
    text-decoration: none;
    color: var(--nav-link-color);
    font-weight: bold;
    font-size: 30px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.icons {
    display: flex;
    gap: 28px;
    margin-right: 95.37px;
    margin-top: 11px;
}

.nav_img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    padding-top: 10.54px;
    filter: var(--icon-filter); 
}
